<div class="page">
  <div class="form__container">
    <h1>Home bookkeeping</h1>
    <p>Sign In For Work</p>
    <form class="form" [formGroup]="form">

      @if(serverErrorMessage) {
        <mat-error class="form__error">{{ serverErrorMessage }}</mat-error>
      }

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        @if(form.get('email')!.hasError('required')) {
          <mat-error>Field is required.</mat-error>
        }
        @if(form.get('email')!.hasError('email')) {
          <mat-error>Please enter a valid email.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" (input)="updatePasswordCount()" type="password">
        @if(form.get('password')!.hasError('required')) {
          <mat-error>Field is required.</mat-error>
        }
        @if(form.get('password')!.hasError('minlength')) {
          <mat-error>Password length must be more than 6 symbols. Now {{ passwordCount }}.</mat-error>
        }
      </mat-form-field>

      <button mat-flat-button class="form__button" [disabled]="!form.valid" (click)="onSubmit()">
        Sign in
      </button>
    </form>

    <p class="action">
      Don`t have an account?
      <a class="action__link" routerLink="/auth/register">Sign Up!</a>
    </p>

    @if(isLoading) {
      <mat-spinner class="loader"></mat-spinner>
    }
  </div>
</div>
