<h2 mat-dialog-title>Add category</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm" class="dialog__form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
      @if(categoryForm.get('name')?.hasError('required')) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Capacity</mat-label>
      <input matInput formControlName="capacity" type="text" />
      @if(categoryForm.get('capacity')?.hasError('required')) {
        <mat-error>Capacity is required</mat-error>
      }
      @if(categoryForm.get('capacity')?.hasError('pattern')) {
        <mat-error>Only numbers are allowed</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button [disabled]="!categoryForm.valid" (click)="onSubmit()" class="button">Add</button>
  <button mat-button (click)="onClose()" class="dialog__buttons__close button">Cancel</button>
</mat-dialog-actions>
