<div class="page">
  <div class="page__header">
    <h1 class="page__header__heading">Records page</h1>
  </div>

  <mat-divider></mat-divider>

  @if(userCategories$ | async; as categories) {
    <div class="page__buttons">
      <button class="page__buttons__button" mat-flat-button (click)="openAddEventModal()">Add event</button>
      <button class="page__buttons__button" mat-flat-button (click)="openCreateCategoryModal()">Add category</button>
    </div>

    <app-records-table [data]="categories" (loadCategories)="loadCategories()"></app-records-table>
  } @else {
    <p class="page__loader">Loading...</p>
  }
</div>
