<div class="page">
  <div class="page__header">
    <h1 class="page__header__heading">Records page</h1>
  </div>

  <mat-divider></mat-divider>

  <div class="page__buttons">
    <button class="page__buttons__button" mat-flat-button>Add event</button>
    <button class="page__buttons__button" mat-flat-button (click)="openCreateCategoryModal()">Add category</button>
  </div>

  @if(userCategories$ | async; as categories) {
    <app-records-table [data]="categories" (loadCategories)="loadCategories()"></app-records-table>
  } @else {
    <p>Loading...</p>
  }
</div>
