<div class="page">
  <div class="page__header">
    <h1 class="page__header__heading">History Page</h1>
  </div>

  <mat-divider></mat-divider>

  @if(extendedEventsData$ | async; as extendedEventsData) {
    <app-history-chart [data]="extendedEventsData"></app-history-chart>
    <app-history-table [data]="extendedEventsData"></app-history-table>

    <mat-divider></mat-divider>

    <button class="add-event-button" mat-flat-button (click)="openAddEventModal()">Add new event</button>
  } @else {
    <p class="page__loader">Loading...</p>
  }

</div>
