<div class="sidebar__user-info">
  <p class="sidebar__user-info__name">{{ user.name }}</p>
  <p>{{ user.email }}</p>
  <img class="sidebar__user-info__avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Profile picture">
</div>

<mat-divider></mat-divider>

<div>
  <p class="sidebar__tabs__header">Pages</p>
  <nav mat-tab-nav-bar>
    @for (link of links; track link.title) {
      <a mat-tab-link [routerLink]="link.url" routerLinkActive="mdc-tab--active" (click)="setActiveLink(link.url)" [active]="activeLink === link.url">
        {{ link.title }}
      </a>
    }
  </nav>
</div>
