<h2 mat-dialog-title>Add event</h2>
<mat-dialog-content>
  <form [formGroup]="eventForm" class="dialog__form">

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId" required>
        @if (categories$ | async; as categories) {
          @for (category of categories; track category.id) {
            <mat-option [value]="category.id">
              {{ category.name }}
            </mat-option>
          }
        }
      </mat-select>
      @if(eventForm.get('categoryId')?.hasError('required')) {
        <mat-error>Category is required</mat-error>
      }
    </mat-form-field>

    <mat-label>Choose type</mat-label>
    <mat-radio-group formControlName="type" class="radio-group dialog__form__radio-buttons">
      <mat-radio-button value="Income" [checked]="true">Income</mat-radio-button>
      <mat-radio-button value="Outcome">Outcome</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" type="text" />
      @if(eventForm.get('amount')?.hasError('required')) {
        <mat-error>Amount is required</mat-error>
      }
      @if(eventForm.get('amount')?.hasError('pattern')) {
        <mat-error>Only numbers are allowed</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      @if(eventForm.get('description')?.hasError('required')) {
        <mat-error>Description is required</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button [disabled]="!eventForm.valid" (click)="onSubmit()" class="button">Add</button>
  <button mat-button (click)="onClose()" class="dialog__buttons__close button">Cancel</button>
</mat-dialog-actions>
